name: Commit Lint

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  commit-lint:
    permissions:
      contents: read
      pull-requests: read
    uses: DoctorCoffeeService/org-infra/.github/workflows/commit-lint.yml@main
